* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    display: flex;
    background-color: black;
    height: 4rem;
    color: aliceblue;
}

.space {
    flex-grow: 2;
    flex-shrink: 1;
}

ul .space {
    flex-grow: .2;
}

.left-nav img {
    height: 40px;
}

.right-nav img {
    height: 13px;
}

.left-nav,
.right-nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
}

.left-nav {
    width: 25vw;
    padding-right: 50px;
}

.right-nav li:hover {
    transform: scale(1.02);
    color: rgb(174, 181, 187);
}

.right-nav {
    width: 50rem;
    color: rgb(177, 167, 167);
    font-size: 1.2em;
    transition: all 2.0 ease-in-out;
    padding-left: 15vw;
}

#login-btn {
    height: 50px;
    width: 90px;
    border-radius: 30px;
}

.left-nav button {
    height: auto;
    width: auto;
    background-color: rgb(0, 0, 0);
    border: 0;
    border-radius: 50%;
}